{% extends 'm7_python/base.html' %}

{% block main %}
<main class="container my-3">

{% if messages %}
    {% for message in messages %}
    <div class="alert message alert-dismissible fade show display-6 text-center" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" style="color: white;" aria-label="Close"></button>
    </div>
    {% endfor %}
{% endif %}

{% if user.is_authenticated %}
    {% if user.tipo_user_id == 1 %}

    <div class="row">
        <div class="col-12 col-md-4 col-lg-3 col-xl-2">
            <img class="img-fluid rounded" src="{{ user.picture }}" alt="{{ user.first_name }}">
        </div>
        <div class="col-12 col-md-8 col-lg-9 col-xl-10">
            <h1 class="m-2">Bienvenido a tu sesión {{ user.first_name }}</h1>
            <h3 class="m-2">Revisa las propiedades que tienes con nosotros.</h3>
        </div>
    </div>

    {% block landlord %}
    {% include 'm7_python/landlord.html' %}
    {% endblock landlord %}

    {% else %}

    <div class="row">
        <div class="col-12 col-md-4 col-lg-3 col-xl-2">
            <img class="img-fluid rounded" src="{{ user.picture }}" alt="{{ user.first_name }}">
        </div>
        <div class="col-12 col-md-8 col-lg-9 col-xl-10">
            <h1 class="m-2">Bienvenido a tu sesión {{ user.first_name }}</h1>
            <h3 class="m-2">Disfruta de nuestras ofertas de miedo.</h3>
        </div>
    </div>

    {% block renter %}
    {% include 'm7_python/renter.html' %}
    {% endblock renter %}
    
    {% endif %}
    
{% else %}
    <h1 class="m-2">No tienes acceso a este contenido.</h1>
    <h3 class="m-2">Regístrate o inicia tu sesión.</h1>
    {% endif %}
</main>
{% endblock main %}