<footer class="container py-2">
    <div class="text-center py-2">
        <p class="fs-3 my-auto">Creado por Néstor Patricio - 2022</p>
    </div>
    <div class="mx-2 mx-md-4 mx-xl-5 pb-2 text-center display-6">
        <a href="https://www.linkedin.com/in/nestor-patricio-rojas-rios/"
            target="_blank" class="mx-2 links" data-bs-toggle="tooltip"
            data-bs-placement="left" title="Néstor Patricio's LinkedIn">
            <i class="fa-brands fa-linkedin links"></i>
        </a>
        <a href="https://github.com/NestorPatricio"
            target="_blank" class="mx-2 links" data-bs-toggle="tooltip"
            data-bs-placement="right" title="Néstor Patricio's GitHub">
            <i class="fa-brands fa-github-square links"></i>
        </a>
    </div>
</footer>