{% extends 'm7_python/base.html' %}

{% block main %}
<main class="container my-3">
    <div class="row">
        <h1 class="mb-4 col-12 text-center">Actualiza tus datos</h1>
        <form action="" method="post" class="mx-auto col-12 col-md-10 fs-4">
            {% csrf_token %}
            {{ formulario.as_p }}
            <div class="text-center">
                <button class="btn btn-haunted my-2 fs-4">Actualizar</button>
            </div>
        </form>
    </div>
</main>
{% endblock main %}